* {
  background-color: #3498db;
}

.car {
  position: absolute;
}

ul {
  position: relative;
  width: 65px;
  height: 50px;
  background: black;
}

li {
  list-style-type: none;
}

.one {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  left: 5px;
  top: -7px;
  background-color: black;
}

.two {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  left: 5px;
  top: 35px;
  background-color: black;
}

.three {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  left: 75px;
  top: -7px;
  background-color: black;
}

.four {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  left: 75px;
  top: 35px;
  background-color: black;
}

.smile {
  position: absolute;
  width: 30px;
  height: 15px;
  background-color: yellow;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top: 0;
  top: 26px;
  left: 38px;
}

.eye1 {
  position: absolute;
  height: 8px;
  width: 8px;
  background-color: yellow;
  top: 12px;
  left: 59px;
}

.eye2 {
  position: absolute;
  height: 8px;
  width: 8px;
  background-color: yellow;
  top: 12px;
  left: 39px;
}
